{{ define "main" }}
<main aria-role="main">

  {{ partial "title" . }}

  <h2 class="title--answer">Yes, we are <a href="https://wayland.freedesktop.org/"
      class="accent--wayland wayland">Wayland</a> now! <s class="title--mostly">(mostly)</s></h2>

  <section class="section">
    <p class="section__title">OK, but where is my:</p>
    <ul class="section__list">
      <li class="list__item--ok">
        Application launcher:
        <a href="https://github.com/albertlauncher/albert">Albert</a>,
        <a href="https://github.com/anyrun-org/anyrun">Anyrun</a>,
        <a href="https://github.com/Cloudef/bemenu">bemenu</a>,
        <a href="https://github.com/nyyManni/dmenu-wayland">dmenu-wayland</a>,
        <a href="https://codeberg.org/dnkl/fuzzel">Fuzzel</a>,
        <a href="https://codeberg.org/tslocum/gmenu">gmenu</a>,
        <a href="https://github.com/nwg-piotr/nwg-launchers">nwg-launchers</a>,
        <a href="https://github.com/onagre-launcher/onagre">Onagre</a>,
        <a href="https://github.com/davatorium/rofi">Rofi</a>,
        <a href="https://github.com/philj56/tofi">Tofi</a>,
        <a href="https://ulauncher.io">Ulauncher</a>,
        <a href="https://github.com/abenz1267/walker">walker</a>,
        <a href="https://codeberg.org/adnano/wmenu">wmenu</a>,
        <a href="https://hg.sr.ht/~scoopta/wofi">Wofi</a>,
        <a href="https://github.com/l4l/yofi">yofi</a>
      </li>
      <li class="list__item--ok">
        Clipboard manager:
        <a href="https://github.com/bjesus/clapboard">clapboard</a>,
        <a href="https://github.com/sentriz/cliphist">cliphist</a>,
        <a href="https://github.com/chmouel/clipman">Clipman</a>,
        <a href="https://github.com/savedra1/clipse">clipse</a>,
        <a href="https://hluk.github.io/CopyQ/">CopyQ</a>,
        <a href="https://codeberg.org/novenary/gemclip">gemclip</a>,
        <a href="https://github.com/SUPERCILEX/clipboard-history">Ringboard</a>,
        <a href="https://sr.ht/~noocsharp/wayclip/">wayclip</a>,
        <a href="https://codeberg.org/notchoc/wlsnarf">wlsnarf</a>,
        <a href="https://github.com/bugaevc/wl-clipboard">wl-clipboard</a>
      </li>
      <li class="list__item--ok">
        Color management and HDR:
        <a href="https://gitlab.freedesktop.org/wayland/wayland-protocols/-/merge_requests/14">Wayland protocol exists</a>, <a href="https://wiki.archlinux.org/title/KDE#HDR">stable support in KDE
						Plasma</a>, <a href="https://github.com/hyprwm/Hyprland/pull/8715">Hyprland</a>, <a href="https://wiki.archlinux.org/title/HDR#Firefox">Firefox</a>. <a href="https://wiki.archlinux.org/title/HDR">-> ArchWiki/HDR</a>
      </li>
      <li class="list__item--ok">
        Color picker:
        <a href="https://github.com/nwg-piotr/azote">Azote</a>,
        <a href="https://gitlab.gnome.org/World/gcolor3">gcolor3</a>,
        <a href="https://git.sr.ht/~emersion/grim">grim</a>,
        <a href="https://github.com/hyprwm/hyprpicker">hyprpicker</a>,
        <a href="https://apps.kde.org/kcolorchooser/">KColorChooser</a>
      </li>
      <li class="list__item--ok">
        Compiz support:
        <a href="https://github.com/WayfireWM/wayfire">Wayfire</a>
      </li>
      <li class="list__item--ok">
        Desktop environment:
        <a href="https://github.com/pop-os/cosmic-epoch">COSMIC Desktop (Alpha)</a>,
        <a href="https://www.enlightenment.org">Enlightenment (experimental)</a>,
        <a href="https://www.gnome.org/">GNOME</a>,
        <a href="https://kde.org/plasma-desktop/">KDE Plasma</a>,
        <a href="https://lxqt-project.org">LXQt</a> <a
          href="https://github.com/lxqt/lxqt-wayland-session/">(Experimental)</a>,
        <a href="https://mate-desktop.org">MATE Desktop (partial)</a>,
        <a href="https://github.com/linuxmint/cinnamon">Cinnamon</a> <a
          href="https://www.linuxmint.com/rel_virginia_whatsnew.php">(Experimental)</a>
      </li>
      <li class="list__item--ok">
        Discord clients and workarounds:
        <a href="https://github.com/Colonial-Dev/WayAFK">AFK handling fix</a>,
        <a href="https://github.com/Rush/wayland-push-to-talk-fix">Push to talk fix</a>,
        <a href="https://github.com/Vencord/Vesktop">Vesktop</a>,
        <a href="https://github.com/SpacingBat3/WebCord">WebCord</a>
      </li>
      <li class="list__item--ok">
        Displaylink driver:
        <a href="https://www.gnome.org">GNOME</a>,
        <a href="https://kde.org/plasma-desktop/">KDE Plasma</a>,
        <a href="https://hyprland.org">Hyprland</a>/<a href="https://github.com/hyprwm/aquamarine">aquamarine</a>,
        <a href="https://github.com/swaywm/sway">Sway</a>/<a
          href="https://gitlab.freedesktop.org/wlroots/wlroots">wlroots</a>
      </li>
      <li class="list__item--ok">
        Dock:
        <a href="https://github.com/Cairo-Dock/cairo-dock-core">Cairo-Dock</a>,
        <a href="https://sr.ht/~leon_plickat/LavaLauncher/">LavaLauncher</a>,
        <a href="https://github.com/nwg-piotr/nwg-dock">nwg-dock</a>,
        <a href="https://github.com/nwg-piotr/nwg-dock-hyprland">nwg-dock-hyprland</a>
      </li>
      <li class="list__item--ok">
        Document viewer:
        <a href="https://wiki.mate-desktop.org/mate-desktop/applications/atril/">Atril (part of MATE, but can be used
          standalone)</a>,
        <a href="https://gitlab.gnome.org/GNOME/evince">Evince</a>,
        <a href="https://apps.kde.org/okular/">Okular</a>,
        <a href="https://apps.gnome.org/Papers/">Papers</a>,
        <a href="https://sioyek.info/">Sioyek</a>,
        <a href="https://pwmt.org/projects/zathura/">zathura</a>
      </li>
      <li class="list__item--ok">
        Email client (GUI):
        <a href="https://help.gnome.org/evolution/">Evolution</a>,
        <a href="https://wiki.gnome.org/Apps/Geary">Geary</a>,
        <a href="https://www.thunderbird.net/en-US/">Thunderbird</a>
      </li>
      <li class="list__item--ok">
        Emoji handlers:
        <a href="https://github.com/marty-oehme/bemoji">bemoji</a>,
        <a href="https://github.com/tom-james-watson/Emote">Emote</a>,
        <a href="https://github.com/fdw/rofimoji">rofimoji</a>,
        <a href="https://github.com/mijorus/smile">smile</a>,
        <a href="https://github.com/Zeioth/wofi-emoji">wofi-emoji</a>,
        <a href="https://github.com/kenshaw/wofimoji">wofimoji</a>
      </li>
      <li class="list__item--ok">
        Emulators:
        <a href="https://cemu.info/">Cemu</a>,
        <a href="https://rpcs3.net/">RPCS3</a>
        <a href="https://shadps4.net">ShadPS4</a>,
        <a href="https://www.retroarch.com/">Retroarch</a>,
        <a href="https://xemu.app">Xemu</a>,
        <a href="https://xenia.jp">Xenia</a>,
      </li>
      <li class="list__item--ok">
        File manager:
        <a href="https://apps.kde.org/dolphin/">Dolphin</a>,
        <a href="https://apps.gnome.org/Nautilus/">Nautilus</a>,
        <a href="https://github.com/linuxmint/nemo">Nemo</a>,
        <a href="https://github.com/lxde/pcmanfm">PCManFM</a>,
        <a href="https://github.com/lxqt/pcmanfm-qt">PCManFM-Qt</a>,
        <a href="https://gitlab.xfce.org/xfce/thunar">Thunar</a>
      </li>
      <li class="list__item--ok">
        Game Launchers:
        <a href="https://usebottles.com/">Bottles</a>,
        <a href="https://heroicgameslauncher.com/">Heroic Games Launcher</a>,
        <a href="https://lutris.net">Lutris</a>,
      </li>
      <li class="list__item--ok">
        Gaming Utilities:
        <a href="https://github.com/Matoking/protontricks">Protontricks</a>,
        <a href="https://github.com/Winetricks/winetricks">Winetricks</a>,
      </li>
      <li class="list__item--ok">
        Gamma & day/night adjustment tool:
        <a href="https://github.com/FedeDP/Clight">Clight</a>,
        <a href="https://gitlab.com/chinstrap/gammastep">Gammastep</a>,
        <a href="https://github.com/loqusion/hyprshade">Hyprshade</a>,
        <a href="https://github.com/hyprwm/hyprsunset">Hyprsunset</a>,
        <a href="https://sr.ht/~kennylevinsen/wlsunset/">wlsunset</a>,
        <a href="https://github.com/max-baz/wluma">wluma</a>,
        <a href="https://github.com/mischw/wl-gammactl">wl-gammactl</a>
      </li>
      <li class="list__item--ok">
        Global hotkeys and PTT:
        <a href="https://github.com/flatpak/xdg-desktop-portal/pull/711">Portal has been developed</a>,
        <a href="https://gitlab.gnome.org/GNOME/xdg-desktop-portal-gnome/-/merge_requests/208">implemented in
          GNOME</a>, <a href="https://wiki.hyprland.org/Configuring/Binds/#global-keybinds">supported on Hyprland using a custom
          implementation</a>
      </li>
      <li class="list__item--ok">
        Hot corners:
        <a href="https://git.sr.ht/~whynothugo/wlhc">wlhc</a>
      </li>
      <li class="list__item--ok">
        Hotkey daemon:
        <a href="https://github.com/waycrate/swhkd">swhkd</a>
      </li>
      <li class="list__item--ok">
        Image editor:
        <a href="https://www.gimp.org/">GIMP</a>,
        <a href="https://inkscape.org/">Inkscape</a>
      </li>
      <li class="list__item--ok">
        Image viewer:
        <a href="https://gitlab.gnome.org/GNOME/eog">Eye of GNOME</a>,
        <a href="https://apps.kde.org/gwenview/">Gwenview</a>,
        <a href="https://sr.ht/~exec64/imv/">imv</a>,
        <a href="https://gitlab.gnome.org/GNOME/loupe">loupe</a>,
        <a href="https://github.com/lxqt/lximage-qt/">LXImage-Qt</a>,
        <a href="https://nomacs.org/">nomacs</a>,
        <a href="https://github.com/artemsen/swayimg">swayimg</a>
      </li>
      <li class="list__item--ok">
        KeePass Autotype:
        <a href="https://keepass.info/help/kb/autotype_wayland.html">KPUInput</a>
      </li>
      <li class="list__item--ok">
        Keyboard remapper:
        <a href="https://github.com/snyball/Hawck">Hawck</a>,
        <a href="https://github.com/sezanzeb/input-remapper">input-remapper</a>,
        <a href="https://gitlab.com/interception/linux/tools">Interception Tools</a>,
        <a href="https://github.com/jtroo/kanata">kanata</a>,
        <a href="https://github.com/samvel1024/kbct">kbct</a>,
        <a href="https://github.com/rvaiya/keyd">keyd</a>,
        <a href="https://github.com/kmonad/kmonad">KMonad</a>,
        <a href="https://github.com/cyber-sushi/makima">Makima</a>,
        <a href="https://github.com/xremap/xremap">xremap</a>
      </li>
      <li class="list__item--ok">
        Keyboard layout switcher:
        <a href="https://kbd-tapper.sourceforge.io/">Tapper</a>
      </li>
      <li class="list__item--ok">
        Keypress screencasting:
        <a href="https://github.com/AlynxZhou/showmethekey">showmethekey</a>,
        <a href="https://github.com/ammgws/wshowkeys">wshowkeys (unmaintained)</a>
      </li>
      <li class="list__item--ok">
        Login/display manager:
        <a href="https://gitlab.gnome.org/GNOME/gdm">GDM</a>,
        <a href="https://sr.ht/~kennylevinsen/greetd/">greetd</a>,
        <a href="https://github.com/max-moser/lightdm-elephant-greeter">LightDM Elephant Greeter</a>,
        <a href="https://invent.kde.org/plasma/plasma-login-manager">Plasma Login Manager</a>,
        <a href="https://gitlab.com/marcusbritanicus/QtGreet">QtGreet</a>,
        <a href="https://github.com/sddm/sddm">SDDM</a>
      </li>
      <li class="list__item--ok">
        Network Manager GUI:
        <a href="https://github.com/pshycodr/airctl">AIRCTL (GTK4)</a>
      </li>
      <li class="list__item--ok">
        Network transparency:
        <a href="https://gitlab.freedesktop.org/mstoeckl/waypipe">Waypipe</a>
      </li>
      <li class="list__item--ok">
        Notification daemon:
        <a href="https://dunst-project.org">Dunst</a>,
        <a href="https://codeberg.org/dnkl/fnott">Fnott</a>,
        <a href="https://github.com/emersion/mako">mako</a>,
        <a href="https://github.com/ErikReider/SwayNotificationCenter">SwayNotificationCenter</a>
      </li>
      <li class="list__item--ok">
        On-screen display:
        <a href="https://github.com/heyjuvi/avizo">avizo</a>,
        <a href="https://github.com/ErikReider/SwayOSD">SwayOSD</a>
      </li>
      <li class="list__item--ok">
        On-screen keyboard:
        <a href="https://github.com/WayfireWM/wf-osk">wf-osk</a>,
        <a href="https://github.com/jjsullivan5196/wvkbd">wvkbd</a>
      </li>
      <li class="list__item--ok">
        Output/display configuration tool:
        <a href="https://github.com/maxwellainatchi/gnome-randr-rust">gnome-randr-rust (GNOME)</a>,
        <a href="https://gitlab.freedesktop.org/emersion/kanshi">kanshi</a>,
        <a href="https://invent.kde.org/plasma/libkscreen">kscreen-doctor (KDE Plasma)</a>,
        <a href="https://github.com/nwg-piotr/nwg-displays">nwg-displays</a>,
        <a href="https://gitlab.com/w0lff/shikane">shikane</a>,
        <a href="https://github.com/xyproto/wallutils">Wallutils</a>,
        <a href="https://github.com/artizirk/wdisplays">wdisplays</a>,
        <a href="https://github.com/atx/wlay">wlay</a>,
        <a href="https://sr.ht/~leon_plickat/wlopm/">wlopm</a>,
        <a href="https://sr.ht/~emersion/wlr-randr/">wlr-randr</a>
      </li>
      <li class="list__item--ok">
        Power menu:
        <a href="https://github.com/nwg-piotr/nwg-bar">nwg-bar</a>,
        <a href="https://github.com/ArtsyMacaw/wlogout">wlogout</a>
      </li>
      <li class="list__item--ok">
        Remote workstation access:
        <a href="https://www.freerdp.com/">FreeRDP</a>,
        <a href="https://gitlab.gnome.org/GNOME/gnome-remote-desktop">GNOME Remote Desktop</a>,
        <a href="https://invent.kde.org/plasma/krdp">KRdp</a>,
        <a href="https://github.com/LizardByte/Sunshine">Sunshine</a>,
        <a href="https://github.com/any1/wayvnc">wayvnc</a>
      </li>
      <li class="list__item--ok">
        Screen casting:
        <a href="https://gitlab.gnome.org/GNOME/gnome-network-displays">GNOME Network Displays</a>
      </li>
      <li class="list__item--ok">
        Screen lock tool:
        <a href="https://github.com/jovanlanik/gtklock">gtklock</a>,
        <a href="https://github.com/hyprwm/hyprlock">hyprlock</a>,
        <a href="https://github.com/swaywm/swaylock">swaylock</a>,
        <a href="https://codeberg.org/ifreund/waylock">Waylock</a>
      </li>
      <li class="list__item--ok">
        Screen mirroring:
        <a href="https://github.com/Ferdi265/wl-mirror">wl-mirror</a>
      </li>
      <li class="list__item--ok">
        Screen recording tool:
        <a href="https://github.com/xlmnxp/blue-recorder">Blue Recorder</a>,
        <a href="https://git.dec05eba.com/gpu-screen-recorder/about/">GPU Screen Recorder</a>,
        <a href="https://github.com/SeaDve/Kooha">Kooha</a>,
        <a href="https://obsproject.com">OBS Studio</a>,
        <a href="https://apps.kde.org/spectacle/">Spectacle</a>,
        <a href="https://github.com/ammen99/wf-recorder">wf-recorder</a>
      </li>
      <li class="list__item--ok">
        Screen sharing:
        <a href="https://github.com/hyprwm/xdg-desktop-portal-hyprland">xdg-desktop-portal-hyprland</a>,
        <a href="https://github.com/emersion/xdg-desktop-portal-wlr">xdg-desktop-portal-wlr</a>,
        <a href="https://github.com/KDE/xwaylandvideobridge">xwaylandvideobridge</a>
      </li>
      <li class="list__item--ok">
        Screenshot tool:
        <a href="https://flameshot.org/">Flameshot</a>,
        <a href="https://github.com/Gustash/Hyprshot">Hyprshot</a>,
        <a href="https://github.com/ksnip/ksnip">ksnip</a>,
        <a href="https://github.com/Satty-org/Satty">Satty</a>,
        <a href="https://github.com/lxqt/screengrab">ScreenGrab</a>,
        <a href="https://git.sr.ht/~whynothugo/shotman">Shotman</a>,
        <a href="https://git.sr.ht/~emersion/grim">grim</a>/<a href="https://github.com/emersion/slurp">slurp</a>,
        <a href="https://apps.kde.org/spectacle/">Spectacle (KDE Plasma)</a>,
        <a href="https://github.com/jtheoof/swappy">swappy</a>,
        <a href="https://github.com/qtilities/wshot/">WShot</a>
      </li>
      <li class="list__item--ok">
        Scrolling compositor:
        <a href="https://github.com/YaLTeR/niri/">niri</a>,
        <a href="https://github.com/dawsers/scroll">scroll</a>
      </li>
      <li class="list__item--ok">
        Stacking compositor:
        <a href="https://hub.darcs.net/raichoo/hikari">hikari</a>,
        <a href="https://labwc.github.io/">labwc</a>,
        <a href="https://github.com/lirios/shell">Liri shell</a>
      </li>
      <li class="list__item--ok">
        Status bar:
        <a href="https://github.com/scorpion-26/gBar">gBar</a>,
        <a href="https://github.com/hcsubser/hybridbar">Hybridbar</a>,
        <a href="https://hyprpanel.com/">Hyprpanel</a>,
        <a href="https://github.com/JakeStanger/ironbar">ironbar</a>,
        <a href="https://github.com/nwg-piotr/nwg-panel">nwg-panel</a>,
        <a href="https://github.com/LBCrion/sfwbar">sfwbar</a>,
        <a href="https://github.com/Alexays/Waybar">Waybar</a>,
        <a href="https://codeberg.org/dnkl/yambar">Yambar</a>
      </li>
      <li class="list__item--ok">
        Supported games:
        <a href="https://github.com/Twig6943/Wayland-Gaming/tree/main/Games">Twig6943/Wayland-Gaming</a>,
      </li>
      <li class="list__item--ok">
        System monitoring widget:
        <a href="https://sr.ht/~kennylevinsen/wldash/">wldash</a>
      </li>
      <li class="list__item--ok">
        Terminal:
        <a href="https://github.com/alacritty/alacritty">Alacritty</a>,
        <a href="https://codeberg.org/dnkl/foot/">foot</a>,
        <a href="https://github.com/Keruspe/Germinal">Germinal</a>,
        <a href="https://ghostty.org/">Ghostty</a>,
        <a href="https://gitlab.gnome.org/GNOME/gnome-terminal">GNOME Terminal</a>,
        <a href="https://github.com/ii8/havoc">havoc</a>,
        <a href="https://sw.kovidgoyal.net/kitty/">kitty</a>,
        <a href="https://apps.kde.org/konsole/">Konsole</a>,
        <a href="https://gitlab.gnome.org/chergert/ptyxis">Ptyxis</a>,
        <a href="https://github.com/lxqt/qterminal/">QTerminal</a>,
        <a href="https://github.com/raphamorim/rio">Rio</a>,
        <a href="https://github.com/realh/roxterm">ROXTerm</a>,
        <a href="https://launchpad.net/sakura">Sakura</a>,
        <a href="https://terminator-gtk3.readthedocs.io/en/latest/">Terminator</a>,
        <a href="https://gnunn1.github.io/tilix-web/">Tilix</a>,
        <a href="https://wezfurlong.org/wezterm/">WezTerm</a>
      </li>
      <li class="list__item--ok">
        Text expander:
        <a href="https://espanso.org/">Espanso (Experimental)</a>
      </li>
      <li class="list__item--ok">
        Tiling compositor:
        <a href="https://github.com/project-repo/cagebreak">cagebreak</a>,
        <a href="https://codeberg.org/dwl/dwl">dwl</a>,
        <a href="https://hyprland.org">Hyprland</a>,
        <a href="https://github.com/mahkoh/jay">Jay</a>,
        <a href="https://github.com/miracle-wm-org/miracle-wm">miracle-wm</a>,
        <a href="https://github.com/YaLTeR/niri">niri</a>,
        <a href="https://github.com/pinnacle-comp/pinnacle">Pinnacle</a>,
        <a href="https://qtile.org">Qtile</a>,
        <a href="https://github.com/riverwm/river">river</a>,
        <a href="https://github.com/dawsers/scroll">scroll</a>,
        <a href="https://github.com/swaywm/sway">Sway</a>,
        <a href="https://github.com/WillPower3309/swayfx">SwayFx</a>,
        <a href="https://github.com/michaelforney/velox">velox</a>,
        <a href="https://github.com/inclement/vivarium">vivarium</a>
      </li>
      <li class="list__item--ok">
        User input simulating tool:
        <a href="https://sr.ht/~geb/dotool/">dotool</a>,
        <a href="https://gitlab.freedesktop.org/libinput/libei">libei</a>,
        <a href="https://github.com/atx/wtype">wtype</a>,
        <a href="https://github.com/ReimuNotMoe/ydotool">ydotool</a>
      </li>
      <li class="list__item--ok">
        Video player:
        <a href="https://github.com/Rafostar/clapper">Clapper</a>,
        <a href="https://apps.kde.org/dragonplayer/">Dragon Player<a>,
            <a href="https://apps.kde.org/haruna/">Haruna</a>,
            <a href="https://mpv.io">mpv</a>
      </li>
      <li class="list__item--ok">
        Wallpaper manager:
        <a href="https://codeberg.org/LGFae/awww">awww</a>,
        <a href="https://github.com/nwg-piotr/azote">Azote</a>,
        <a href="https://github.com/hyprwm/hyprpaper">hyprpaper</a>,
        <a href="https://github.com/GhostNaN/mpvpaper">MPVPaper</a>,
        <a href="https://github.com/vilhalmer/oguri">oguri</a>,
        <a href="https://github.com/swaywm/swaybg">swaybg</a>,
        <a href="https://github.com/xyproto/wallutils">Wallutils</a>,
        <a href="https://github.com/anufrievroman/waypaper">waypaper</a>,
        <a href="https://github.com/danyspin97/wpaperd">wpaperd</a>
      </li>
      <li class="list__item--ok">
        Web browser:
        <a href="https://www.chromium.org/">Chromium</a>,
        <a href="https://www.firefox.com/">Firefox</a>,
        <a href="https://luakit.github.io/">Luakit</a>,
        <a href="https://nyxt.atlas.engineer/">Nyxt</a>,
        <a href="https://www.opera.com/">Opera</a>,
        <a href="https://qutebrowser.org/">qutebrowser</a>
      </li>
      <li class="list__item--ok">
        Widgets:
        <a href="https://github.com/Aylur/ags">ags</a>,
        <a href="https://github.com/elkowar/eww">eww</a>,
        <a href="https://wiki.ffpy.org/">Fabric</a>,
        <a href="https://github.com/ignis-sh/ignis">Ignis</a>,
        <a href="https://quickshell.org/">Quickshell</a>
      </li>
    </ul>
  </section>

  <section class="section">
    <p class="section__title">
      That's great, but how's the situation with <span class="accent--nvidia">nvidia</span>?
    </p>
    <ul class="section__list">
      <li class="list__item--ok">
        With <a href="https://wiki.archlinux.org/title/GDM#Wayland_and_the_proprietary_NVIDIA_driver">extra steps</a> it
        runs, on
        <a href="https://wiki.gnome.org/Initiatives/Wayland/NVIDIA">GNOME</a>
      </li>
      <li class="list__item--ok">
        With <a href="https://community.kde.org/Plasma/Wayland/Nvidia">extra steps</a> it runs, on
        <a href="https://community.kde.org/Plasma/Wayland/Nvidia">KDE Plasma</a>
      </li>
      <li class="list__item--kinda">
        Despite <a href="https://wiki.hyprland.org/Nvidia/">no official support</a> it runs, on
        <a href="https://hyprland.org/">Hyprland</a>
      </li>
      <li class="list__item--kinda">
        When using the nouveau driver, it directly runs on
        <a href="https://github.com/swaywm/sway">Sway</a>/<a
					 href="https://gitlab.freedesktop.org/wlroots/wlroots">wlroots</a>, for the Nividia driver you need to start it with <i>--unsupported-gpu</i>.
      </li>
    </ul>
  </section>

  <section class="section">
    <p class="section__title">
      If you need these, don't switch yet (unusable):
    </p>
    <ul class="section__list">
      <li class="list__item--ko">
        <a href="https://orca.gnome.org/">Orca</a>, a screen reader is currently broken on Wayland due to a variety of
        <a
          href="https://gitlab.gnome.org/GNOME/orca/-/issues/?sort=created_date&state=opened&search=wayland&first_page_size=20">issues</a>.</br />
        <a href="https://gitlab.gnome.org/GNOME/orca/-/issues/440">#440</a>,
        <a href="https://gitlab.gnome.org/GNOME/orca/-/issues/455">#455</a> and
        <a href="https://gitlab.gnome.org/GNOME/orca/-/issues/483">#483</a> are currently blocking the progress.
      </li>
      <li class="list__item--ko">
        <a href="https://obsproject.com/">OBS</a> is unusable under Wayland if custom browser docks are needed, see
        <a href="https://github.com/obsproject/obs-browser/issues/279">obs-browser#279</a> and
        <a href="https://github.com/chromiumembedded/cef/issues/2804">cef#2804</a>
      </li>
    </ul>
  </section>
</main>
{{ end }}
